extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/trackCSS.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    script(src='./libraries/Chart.min.js', type="text/javascript")
block content

    div#table

    .bottomright
        div#detectedMood
            h1= "DETECTED MOOD:"
            h2= mood

    // The Modal
    #myModal.modal
        // Modal content
        #modal-content
            span.close &times;
            div#modal-rightSection
                button#openSpotify
            div#modal-leftSection
            div#modal-audioFeatures


    script.
        let tracks = !{JSON.stringify(tracks)};
        let userInfo = !{JSON.stringify(userInfo)};
        let mood = !{JSON.stringify(mood)};
    script(src='/js/track.js')
